- content_for :head do
  = javascript_include_tag "pages/operator/missions/index-bundle"
  = stylesheet_link_tag "pages/operator/missions/index-bundle", :media => "all"


#search-bar
  #search-box
    %input#input-search{:placeholder => "输入企业、行业、概念名称", :type => "text", :value => params[:keyword]}
      %a#link-search{href: "javascript:void(0);"}


%table
  %tr.header
    %th.column-listdata 挂牌日期
    %th.column-code 证券代码
    %th.column-name 证券名称
    %th.column-industry 行业
    %th.column-prospectus 公开转让说明书摘录
    %th.column-listdata 年报摘录
  - @securities_info.each do |s|
    %tr.record{data: {id: s.id.to_s}}
      %td= s[:list_date]
      %td= s[:code]
      %td= s[:name]
      %td= s[:industry]

  <table data-pagetype={{type}}>
    <tr class=header>
      <th class=column-star></th>
      <th class=column-title>标题</th>
      <th class=column-owner>所有者</th>
      <th class=column-authority>权限</th>
      <th class=column-update-time>上次修改时间</th>
      <th class=column-operation>操作</th>
    </tr>
    {{#each nodes}}
      {{#ifCond node_type "Folder"}}
        <tr class="record folder-tr" data-type={{node_type}} data-id={{id}} data-name={{name}}>
          <td>
            <a href="javascript:void(0);" class="star-link">
              {{#ifCond starred true}}
                <i class="icon starred" />
              {{/ifCond}}
              {{#ifCond starred false}}
                <i class="icon star-empty" />
              {{/ifCond}}
            </a>
          </td>
          <td>
            <i class="icon folder" />
            <a href="/teacher/nodes?folder_id={{id}}" class="doc-title node-link">{{name}}</a>
          </td>
          <td>{{owner}}</td>
          <td></td>
          <td>{{last_update_time}}</td>
          <td>
            {{#ifCond ../../type "trash"}}
              <a href="javascript:void(0);" title="还原">
                <i class="icon recover" />
              </a>
              <a href="javascript:void(0);" title="彻底删除">
                <i class="icon destroy" />
              </a>
            {{else}}
              <a href="javascript:void(0);" title="打开">
                <i class="icon open" />
              </a>
              <a href="javascript:void(0);" title="移动">
                <i class="icon move" />
              </a>
              <a href="javascript:void(0);" title="删除">
                <i class="icon remove" />
              </a>
            {{/ifCond}}
          </td>
        </tr>
   