- content_for :head do
  = javascript_include_tag "pages/operator/missions/index-bundle"
  = stylesheet_link_tag "pages/operator/missions/index-bundle", :media => "all"


#search-bar
  #search-box
    %input#input-search{:placeholder => "输入企业、行业、概念名称", :type => "text", :value => params[:keyword]}
      %a#link-search{href: "javascript:void(0);"}


%table
  %tr.header
    %th.column-listdata 挂牌日期
    %th.column-code 证券代码
    %th.column-name 证券名称
    %th.column-industry 行业
    %th.column-prospectus 公开转让说明书摘录
    / %th.column-listdata 年报摘录
  - @securities_info.each do |s|
    %tr.record{data: {sid: s[:id], cid: s[:company_id]}}
      %td= s[:list_date]
      %td= s[:code]
      %td= s[:name]
      %td= s[:industry]
      %td
        = link_to "领取", "javascript:void(0);", class: "do-mission-link"
      / %td
      /   = link_to "领取", "javascript:void(0);" 
   