- content_for :head do
  = javascript_include_tag "pages/operator/missions/show-bundle"
  = stylesheet_link_tag "pages/operator/missions/show-bundle", :media => "all"
  :javascript
    window.mid = "#{@do_mission.id.to_s}"

.top-wrapper.auto.clearfix
  .left.l
    %span.f20= @company.name
    = link_to "公开转让说明书下载", @prospectus.dongcai_url.gsub("file", "www"), target: "_blank"
  .right.r
    %button.btn.btn-primary.submit-btn{:type => "button"} 提交

.content-wrapper.auto
  .block-wrapper.row
    .sub-title.col-md-2 1/13 风险提示：
    .risks-part-wrapper.block.col-md-10
      .risks-wrapper
        - ( @prospectus.get("risks") || [ ] ).each do |risk|
          .risk-wrapper.form-inline.one-line
            %input.risk-name.form-control{placeholder: "风险名称", type: "text", value: risk["name"]}/
            %textarea.risk-desc.form-control{placeholder: "风险描述", rows: 1}= risk["desc"]
            = select_tag "center_id", options_for_select(Prospectus.risks_for_select, risk["type"]), class: "risk-type form-control"
            %button.btn.btn-danger.rm-risk{type: "button"} 删除
        - if ( @prospectus.get("risks") || [ ] ).length < 5
          - (5 - ( @prospectus.get("risks") || [ ] ).length).times do
            .risk-wrapper.form-inline.one-line
              %input.risk-name.form-control{placeholder: "风险名称", type: "text"}/
              %textarea.risk-desc.form-control{placeholder: "风险描述", rows: 1}
              = select_tag "center_id", options_for_select(Prospectus.risks_for_select), class: "risk-type form-control"
              %button.btn.btn-danger.rm-risk{type: "button"} 删除
      .risk-clone.hide
        .risk-wrapper.form-inline.one-line
          %input.risk-name.form-control{placeholder: "风险名称", type: "text"}/
          %textarea.risk-desc.form-control{placeholder: "风险描述", rows: 1}
          = select_tag "center_id", options_for_select(Prospectus.risks_for_select), class: "risk-type form-control"
          %button.btn.btn-danger.rm-risk{type: "button"} 删除
      %button.btn.btn-success.add-risk.one-line{type: "button"} 增加一条
  .block-wrapper.row
    .sub-title.col-md-2 主营业务：
    .main-business-part-wrapper.block.col-md-10
      #main-business-editor.editor-area= @prospectus.get("main_business").to_s.html_safe
  .block-wrapper.row
    .sub-title.col-md-2 主要客户情况：
    .main-customer-wrapper.block.col-md-10
      .main-customer-base-wrapper.form-inline.one-line
        %span 选择基准年份
        = select_tag "base_year", options_for_select(Prospectus.years_for_select, @prospectus.get_base_year("customer")), class: "base-year form-control"
      .main-customer-tab
        %ul.nav.nav-tabs
          - (1..3).to_a.each do |i|
            %li{class: i == 1 ? "active" : ""}
              %a{id: "main-customer-year-#{i}", "data-toggle" => "tab", :href => "#main-customer-tab-#{i}"} 2015年度
        .tab-content
          - (1..3).to_a.each do |i|
            %div{id: "main-customer-tab-#{i}", class: "tab-pane #{i == 1 ? "active" : ""}"}
              - ((@prospectus.get("main_customers") || [[], [], []]).sort.reverse[i - 1][1] || []).each_with_index do |e, index|
                .customer-wrapper.form-inline.one-line
                  %span.index-span= (index + 1).to_s
                  %input.customer-name.form-control{placeholder: "客户全称", type: "text", value: e["name"]}/
                  %input.customer-value.form-control{placeholder: "销售金额（万元）", type: "text", value: e["value"]}/
                  %input.customer-ratio.form-control{placeholder: "占比（%）", type: "text", value: e["ratio"]}/
              - if ((@prospectus.get("main_customers") || [[], [], []]).sort.reverse[i - 1][1] || []).length < 5
                - (5 - ((@prospectus.get("main_customers") || [[], [], []]).sort.reverse[i - 1][1] || []).length).times do |index|
                  .customer-wrapper.form-inline.one-line
                    %span.index-span= (index + 1 + ((@prospectus.get("main_customers") || [[], [], []]).sort.reverse[i - 1][1] || []).length).to_s
                    %input.customer-name.form-control{placeholder: "客户全称", type: "text"}/
                    %input.customer-value.form-control{placeholder: "销售金额（万元）", type: "text"}/
                    %input.customer-ratio.form-control{placeholder: "占比（%）", type: "text"}/
  .block-wrapper.row
    .sub-title.col-md-2
      %span 主要经销商情况：
      = link_to "展开", "javascript:void(0);", class: "toggle-link is_hidden"
    .main-dealer-wrapper.block.col-md-10.default-hide
      .main-dealer-base-wrapper.form-inline.one-line
        %span 选择基准年份
        = select_tag "base_year", options_for_select(Prospectus.years_for_select, @prospectus.get_base_year("dealer")), class: "base-year form-control"
      .main-dealer-tab
        %ul.nav.nav-tabs
          - (1..3).to_a.each do |i|
            %li{class: i == 1 ? "active" : ""}
              %a{id: "main-dealer-year-#{i}", "data-toggle" => "tab", :href => "#main-dealer-tab-#{i}"} 2015年度
        .tab-content
          - (1..3).to_a.each do |i|
            %div{id: "main-dealer-tab-#{i}", class: "tab-pane #{i == 1 ? "active" : ""}"}
              - ((@prospectus.get("main_dealers") || [[], [], []]).sort.reverse[i - 1][1] || []).each_with_index do |e, index|
                .dealer-wrapper.form-inline.one-line
                  %span.index-span= (index + 1).to_s
                  %input.dealer-name.form-control{placeholder: "经销商全称", type: "text", value: e["name"]}/
                  %input.dealer-value.form-control{placeholder: "销售金额（万元）", type: "text", value: e["value"]}/
                  %input.dealer-ratio.form-control{placeholder: "占比（%）", type: "text", value: e["ratio"]}/
              - if ((@prospectus.get("main_dealers") || [[], [], []]).sort.reverse[i - 1][1] || []).length < 5
                - (5 - ((@prospectus.get("main_dealers") || [[], [], []]).sort.reverse[i - 1][1] || []).length).times do |index|
                  .dealer-wrapper.form-inline.one-line
                    %span.index-span= (index + 1 + ((@prospectus.get("main_dealers") || [[], [], []]).sort.reverse[i - 1][1] || []).length).to_s
                    %input.dealer-name.form-control{placeholder: "经销商全称", type: "text"}/
                    %input.dealer-value.form-control{placeholder: "销售金额（万元）", type: "text"}/
                    %input.dealer-ratio.form-control{placeholder: "占比（%）", type: "text"}/
  .block-wrapper.row
    .sub-title.col-md-2 主要供应商情况：
    .main-provider-wrapper.block.col-md-10
      .main-provider-base-wrapper.form-inline.one-line
        %span 选择基准年份
        = select_tag "base_year", options_for_select(Prospectus.years_for_select, @prospectus.get_base_year("provider")), class: "base-year form-control"
      .main-provider-tab
        %ul.nav.nav-tabs
          - (1..3).to_a.each do |i|
            %li{class: i == 1 ? "active" : ""}
              %a{id: "main-provider-year-#{i}", "data-toggle" => "tab", :href => "#main-provider-tab-#{i}"} 2015年度
        .tab-content
          - (1..3).to_a.each do |i|
            %div{id: "main-provider-tab-#{i}", class: "tab-pane #{i == 1 ? "active" : ""}"}
              - ((@prospectus.get("main_providers") || [[], [], []]).sort.reverse[i - 1][1] || []).each_with_index do |e, index|
                .provider-wrapper.form-inline.one-line
                  %span.index-span= (index + 1).to_s
                  %input.provider-name.form-control{placeholder: "供应商全称", type: "text", value: e["name"]}/
                  %input.provider-value.form-control{placeholder: "采购金额（万元）", type: "text", value: e["value"]}/
                  %input.provider-ratio.form-control{placeholder: "占比（%）", type: "text", value: e["ratio"]}/
              - if ((@prospectus.get("main_providers") || [[], [], []]).sort.reverse[i - 1][1] || []).length < 5
                - (5 - ((@prospectus.get("main_providers") || [[], [], []]).sort.reverse[i - 1][1] || []).length).times do |index|
                  .provider-wrapper.form-inline.one-line
                    %span.index-span= (index + 1 + ((@prospectus.get("main_providers") || [[], [], []]).sort.reverse[i - 1][1] || []).length).to_s
                    %input.provider-name.form-control{placeholder: "供应商全称", type: "text"}/
                    %input.provider-value.form-control{placeholder: "采购金额（万元）", type: "text"}/
                    %input.provider-ratio.form-control{placeholder: "占比（%）", type: "text"}/
  .block-wrapper.row
    .sub-title.col-md-2 商业模式：
    .business-modes-part-wrapper.block.col-md-10
      .business-modes-wrapper
        - ( @prospectus.get("business_modes") || [] ).each do |business_mode|
          .business-mode-wrapper.form-inline.one-line
            = select_tag "business_mode", options_for_select(Prospectus.business_modes_for_select, business_mode["type"]), class: "business-mode-type form-control"
            %input.business-mode-desc.form-control{:placeholder => "内容描述", :type => "text", value: business_mode["desc"]}/
            %button.btn.btn-danger.rm-business-mode{:type => "button"} 删
        - if ( @prospectus.get("business_modes") || [] ).length < 3
          - (3 - ( @prospectus.get("business_modes") || []).length ).times do
            .business-mode-wrapper.form-inline.one-line
              = select_tag "business_mode", options_for_select(Prospectus.business_modes_for_select, -1), class: "business-mode-type form-control"
              %input.business-mode-desc.form-control{:placeholder => "内容描述", :type => "text"}/
              %button.btn.btn-danger.rm-business-mode{:type => "button"} 删除
      .business-mode-clone.hide
        .business-mode-wrapper.form-inline.one-line
          = select_tag "business_mode", options_for_select(Prospectus.business_modes_for_select, -1), class: "business-mode-type form-control"
          %input.business-mode-desc.form-control{:placeholder => "内容描述", :type => "text"}/
          %button.btn.btn-danger.rm-business-mode{:type => "button"} 删除
      %button.btn.btn-success.add-business-mode{:type => "button"} 增加一条
  .block-wrapper.row
    .sub-title.col-md-2 市场空间：
    .market-space-part-wrapper.block.col-md-10
      #market-space-editor.editor-area= @prospectus.get("market_space").to_s.html_safe
  .block-wrapper.row
    .sub-title.col-md-2 竞争对手：
    .rivals-pat-wrapper.block.col-md-10
      .rivals-wrapper
        - ( @prospectus.get("rivals") || [ ] ).each do |rival|
          .rival-wrapper.form-inline.one-line
            %input.rival-brand.form-control{:placeholder => "竞争品牌", :type => "text", value: rival["brand"]}/
            %input.rival-name.form-control{:placeholder => "竞争对手全称", :type => "text", value: rival["name"]}/
            %textarea.rival-introduce.form-control{:placeholder => "竞争对手简介", :rows => 1 }= rival["introduce"]
            %textarea.rival-desc.form-control{:placeholder => "竞争关系描述", :rows => 1 }= rival["desc"]
            %button.btn.btn-danger.rm-rival{:type => "button"} 删除
        - if ( @prospectus.get("rivals") || [ ] ).length < 3
          - (3 - ( @prospectus.get("rivals") || [ ] ).length).times do
            .rival-wrapper.form-inline.one-line
              %input.rival-brand.form-control{:placeholder => "竞争品牌", :type => "text"}/
              %input.rival-name.form-control{:placeholder => "竞争对手全称", :type => "text"}/
              %textarea.rival-introduce.form-control{:placeholder => "竞争对手简介", :rows => 1}
              %textarea.rival-desc.form-control{:placeholder => "竞争关系描述", :rows => 1}
              %button.btn.btn-danger.rm-rival{:type => "button"} 删除
      .rival-clone.hide
        .rival-wrapper.form-inline.one-line
          %input.rival-brand.form-control{:placeholder => "竞争品牌", :type => "text"}/
          %input.rival-name.form-control{:placeholder => "竞争对手全称", :type => "text"}/
          %textarea.rival-introduce.form-control{:placeholder => "竞争对手简介", :rows => 1}
          %textarea.rival-desc.form-control{:placeholder => "竞争关系描述", :rows => 1}
          %button.btn.btn-danger.rm-rival{:type => "button"} 删除
      %button.btn.btn-success.add-rival{:type => "button"} 增加一条
  .block-wrapper.row
    .sub-title.col-md-2 竞争优势：
    .advantage-part-wrapper.block.col-md-10
      #advantage-editor.editor-area= @prospectus.get("advantage").to_s.html_safe
  .block-wrapper.row
    .sub-title.col-md-2 发展战略：
    .disadvantage-part-wrapper.block.col-md-10
      #disadvantage-editor.editor-area= @prospectus.get("disadvantage").to_s.html_safe
  .block-wrapper.row
    .sub-title.col-md-2 竞争劣势：
    .strategy-part-wrapper.block.col-md-10
      #strategy-editor.editor-area= @prospectus.get("strategy").to_s.html_safe
  .block-wrapper.row
    .sub-title.col-md-2 偿债能力分析：
    .solvency-part-wrapper.block.col-md-10
      #solvency-editor.editor-area= @prospectus.get("solvency").to_s.html_safe
  .block-wrapper.row
    .sub-title.col-md-2 营运能力分析：
    .operation-ability-part-wrapper.block.col-md-10
      #operation-ability-editor.editor-area= @prospectus.get("operation_ability").to_s.html_safe
  .block-wrapper.row
    .sub-title.col-md-2 现金流状况分析
    .cash-flow-part-wrapper.block.col-md-10
      #cash-flow-editor.editor-area= @prospectus.get("cash_flow").to_s.html_safe
